.div {
     width: 400px;
     height: 350px;
     min-width: 320px;
     border: 1px solid blue;
     border-radius: 20px;
     overflow: hidden;
     margin-top: 20px;
     margin-left: 30px;
     display: inline-block;
     transition: all 0.3s ease;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     position: relative;
 }


 .div:hover {
     transform: translateY(-10px);
     box-shadow: 0 10px 15px rgba(0,0,0,0.2);
     border-color: #5050ff;
 }
 

.div img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform 0.5s ease;
 }
 
 .div:hover img {
     transform: scale(1.05);
 }

.form{
     margin-top: 30px;
     margin-bottom: 40px;
     text-align: center;
}

.form input{
     width: 50%;
     height: 30px;
     border: black, solid, 1px;
}

.form button{
     margin-left: 15px;
     width: 80px;
     height: 38px;
     border-radius: 15px;
     background-color: lightseagreen;
}

.form button:hover{
     cursor: pointer;
     box-shadow: 4px 7px 10px black;
     background-color: rgb(95, 126, 124);
}

.bulunamadi{
     width: 60%;
     height: 80px;
     margin-top: 100px;
     margin-left: 20%;
     display: inline-block;
     align-items: center;
     text-align: center;
     font-family: sans-serif;
     font-size: xx-large;
}